@model IEnumerable<Boxty.ViewModels.OutputModels.OrderOutputModel>
<div class="row checkoutForm">
    <h2>Orders list</h2>
    <h4>Here are the orders in your shopping cart.</h4>
    <table class="table table-bordered table-striped">
         <thead>
             <tr>
                 <th>Product Id</th>
                 <th>Order Id</th>
                 <th>Product Name</th>
                 <th class="text-right">Order placed at:</th>
                 <th>Actions</th>
             </tr>
         </thead>
         <tbody>
             @foreach (var line in Model)
             {
             <tr>
                 <td class="text-center">@line.Product.Id</td>
                 <td class="text-center">@line.OrderId</td>
                 <td class="text-left">@line.Product.Name</td>
                 <td class="text-right">@line.Date</td>
                 <td>
                     <div class="btn-group ">
                         <a class="btn btn-danger" asp-controller="Order" asp-action="RemoveFromOrders" asp-route-productId="@line.Product.Id" asp-route-orderId="@line.OrderId">Delete</a>
                     </div>
                     <div class="btn-group ">
                         <a class="btn btn-success"  asp-controller="Order" asp-action="MarkAsDone" asp-route-productId="@line.Product.Id" asp-route-orderId="@line.OrderId">Done</a>
                     </div>
                 </td>
             </tr>
             }
         </tbody>
    </table>
</div>