@model Boxty.Web.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Details";
    var id = Model.Id;
}

<h1>Details</h1>

<div>
    <div class="col-md-4">
        <div class="card w-100">
            <img class="card-img-top" src='@Model.ImageUrl' alt="Card image cap" style="height:250px">
        </div>
    </div>

    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="row" id="item">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.Id">Add to cart</a>
</div>